@supports (not selector(::-webkit-scrollbar)) and (not selector(::-webkit-scrollbar-button)) and (not selector(::-webkit-scrollbar-thumb)) and (not selector(::-webkit-scrollbar-track)) {
    textarea {
        scrollbar-width: none;
        scrollbar-color:  rgba( 255, 255, 255, 0.35 ) transparent;
    }
}

textarea {
    width: calc(100% - 2rem);
    max-height: calc(100%-3rem);
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}


textarea::-webkit-scrollbar{
    display: none;
    height: 3px;
    width : 3px;
}

textarea::-webkit-scrollbar-button{
    display: none;
}

textarea::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.719);
}

textarea::-webkit-scrollbar-track {
    background: transparent;
}

.code-container {
    position: relative;
  }
  
.highlighted-code {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    margin-left: 2rem;
    color: white;
    background-color: transparent;
    z-index: 1;
}

textarea {
    position: relative;
    z-index: 2;
}
  